{% extends "base.html" %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/board.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/paper.css') }}" type="text/css">

    <details open>
        <summary>Add Match</summary>
        <div id="board">
            <div class="sheet">
                <form id="add_match" autocomplete="off" method="POST" action="{{ url_for('add_match') }}">
                    <div id="seasonlabel">
                        <label for="match_season">Season:</label>
                    </div>
                    <div id="season" class="custom-select">
                        <select id="match_season" name="match_season" required>
                            <option value="" disabled selected>Choose year</option>
                            {% for season in seasons %}
                                <option value="{{ season.season_year }}">{{ season.season_year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="numberlabel">
                        <label for="match_number">Match number:</label>
                    </div>
                    <div id="number">
                        <div class="radio">
                            <label for="one" class="radiolabel">&emsp;1
                                <input type="radio" id="one" name="match_number" value="1">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="radio">
                            <label for="two" class="radiolabel">&emsp;2
                                <input type="radio" id="two" name="match_number" value="2">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="radio">
                            <label for="three" class="radiolabel">&emsp;3
                                <input type="radio" id="three" name="match_number" value="3">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="radio">
                            <label for="four" class="radiolabel">&emsp;4
                                <input type="radio" id="four" name="match_number" value="4">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div id="weekdaylabel">
                        <label for="match_weekday">Weekday:</label>
                    </div>
                    <div id="weekday" class="custom-select">
                        <select id="match_weekday" name="match_weekday" required>
                            <option value="" disabled selected>Choose day</option>
                            {% for weekday in weekdays %}
                                <option value="{{ weekday.weekday_name }}">{{ weekday.weekday_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="monthdaylabel">
                        <label for="match_monthday">Date:</label>
                    </div>
                    <div id="monthday" class="custom-select">
                        <select id="match_monthday" name="match_monthday" required>
                            <option value="" disabled selected>Choose date</option>
                            {% for monthday in monthdays %}
                                <option value="{{ monthday.monthday_name }}">{{ monthday.monthday_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="monthlabel">
                        <label for="match_month">Month:</label>
                    </div>
                    <div id="month" class="custom-select">
                        <select id="match_month" name="match_month" required>
                            <option value="" disabled selected>Choose month</option>
                            {% for month in months %}
                                <option value="{{ month.month_name }}">{{ month.month_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="venuelabel">
                        <label for="match_venue">Venue:</label><br>
                    </div>
                    <div id="venue" class="custom-select">
                        <select id="match_venue" name="match_venue" required>
                            <option value="" disabled selected>Choose venue</option>
                            {% for venue in venues %}
                                <option value="{{ venue.venue_name }}">{{ venue.venue_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="buttons">
                        <a href="{{ url_for('matches') }}">Cancel</a>
                        <input type="submit" value="Add">
                    </div>
                </form>
            </div>
        </div>   
    </details>

    <script src="{{ url_for('static', filename='scripts/select.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/sheet.js') }}"></script>

{% endblock %}