{% extends "base.html" %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/board.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/paper.css') }}" type="text/css">

    <details open>
        <summary>Events for {{ match.match_season }} Match {{ match.match_number }}</summary>
        <div id="board">
            <div class="sheet">
                <form id="add_timetable" autocomplete="off" method="POST" action="{{ url_for('add_timetable') }}">
                    <div id="timelabel">
                        <label for="event_time">Event time:</label>
                    </div>
                    <div id="time" class="custom-select">
                        <select id="event_hour" name="event_hour" required>
                            {% for hour in timetable_hours %}
                                <option value="{{ timetable_hours.hour }}">{{ timetable_hours.hour }}</option>
                            {% endfor %}
                        </select>
                        <select id="event_minute" name="event_minute" required>
                            {% for minute in timetable_minutes %}
                                <option value="{{ timetable_minutes.minute }}">{{ timetable_minutes.minute }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="eventlabel">
                        <label for="event_name">Event name:</label>
                    </div>
                    <div id="event" class="custom-select">
                        <select id="event_name" name="event_name" required>
                            {% for event in events %}
                                <option value="{{ events.event_name }}">{{ events.event_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="categorieslabel">
                        <label for="event_categories">Match number:</label>
                    </div>
                    <div id="categories">
                        <div class="checkbox">
                            <label for="M35" class="radiolabel">&emsp;M35
                                <input type="checkbox" id="M35" name="M35" value="M35">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="M35A" class="radiolabel">&emsp;M35 A
                                <input type="checkbox" id="M35A" name="M35A" value="M35 A">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="M35B" class="radiolabel">&emsp;M35 B
                                <input type="checkbox" id="M35B" name="M35B" value="M35 B">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="M50" class="radiolabel">&emsp;M50
                                <input type="checkbox" id="M50" name="M50" value="M50">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="M60" class="radiolabel">&emsp;M60
                                <input type="checkbox" id="M60" name="M60" value="M60">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="MNS" class="radiolabel">&emsp;M NS
                                <input type="checkbox" id="MNS" name="MNS" value="M NS">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="W35" class="radiolabel">&emsp;W35
                                <input type="checkbox" id="W35" name="W35" value="W35">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="W35A" class="radiolabel">&emsp;W35 A
                                <input type="checkbox" id="W35A" name="W35A" value="W35 A">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="W35B" class="radiolabel">&emsp;W35 B
                                <input type="checkbox" id="W35B" name="W35B" value="W35 B">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="W50" class="radiolabel">&emsp;W50
                                <input type="checkbox" id="W50" name="W50" value="W50">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="W60" class="radiolabel">&emsp;W60
                                <input type="checkbox" id="W60" name="W60" value="W60">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="WNS" class="radiolabel">&emsp;W NS
                                <input type="checkbox" id="WNS" name="WNS" value="W NS">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div id="buttons">
                        <input type="reset" value="Reset">
                        <input type="submit" value="Add">
                    </div>
                </form>
            </div>
        </div>   
    </details>

    <script src="{{ url_for('static', filename='scripts/select.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/sheet.js') }}"></script>

{% endblock %}