<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/96276fa2dd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bricks.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/brass.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/wood.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Athletics League</title>
</head>

<body>

    <nav>
        <ul>
            <li><a href="{{ url_for('welcome') }}">Home</a></li>
            <li><a href="#">Fixtures</a></li>
            <li><a href="#">Declarations</a></li>
            <li><a href="#">Results</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="#">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

</body>

</html>