{% extends "base.html" %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/board.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/paper.css') }}" type="text/css">

    <details open>
        <summary>Edit {{ match.match_season }} Match {{ match.match_number }}</summary>
        <div id="board">
            <div class="sheet">
                <form id="edit_match" autocomplete="off" method="POST" action="{{ url_for('edit_match', match_id=match._id) }}">
                    <div id="seasonlabel">
                        <label for="match_season">Season:</label>
                    </div>
                    <div id="season" class="custom-select">
                        <select id="match_season" name="match_season" required>
                            <option value="" disabled>Choose year</option>
                            {% for season in seasons %}
                                {% if season.season_year == match.match_season %}
                                    <option value="{{ season.season_year }}" selected>{{ season.season_year }}</option>
                                {% else %}
                                    <option value="{{ season.season_year }}">{{ season.season_year }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div id="numberlabel">
                        <label for="match_number">Match number:</label>
                    </div>
                    <div id="number">
                        <div class="radio">
                            <label for="one" class="radiolabel">&emsp;1
                                {% if match.match_number == "1" %}
                                    <input type="radio" id="one" name="match_number" value="1" checked>
                                {% else %}
                                    <input type="radio" id="one" name="match_number" value="1">
                                {% endif %}
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="radio">
                            <label for="two" class="radiolabel">&emsp;2
                                {% if match.match_number == "2" %}
                                    <input type="radio" id="two" name="match_number" value="2" checked>
                                {% else %}
                                    <input type="radio" id="two" name="match_number" value="2">
                                {% endif %}
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="radio">
                            <label for="three" class="radiolabel">&emsp;3
                                {% if match.match_number == "3" %}
                                    <input type="radio" id="three" name="match_number" value="3" checked>
                                {% else %}
                                    <input type="radio" id="three" name="match_number" value="3">
                                {% endif %}
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="radio">
                            <label for="four" class="radiolabel">&emsp;4
                                {% if match.match_number == "3" %}
                                    <input type="radio" id="four" name="match_number" value="4" checked>
                                {% else %}
                                    <input type="radio" id="four" name="match_number" value="4">
                                {% endif %}
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div id="weekdaylabel">
                        <label for="match_weekday">Weekday:</label>
                    </div>
                    <div id="weekday" class="custom-select">
                        <select id="match_weekday" name="match_weekday" required>
                            <option value="" disabled>Choose day</option>
                            {% for weekday in weekdays %}
                                {% if weekday.weekday_name == match.match_weekday %}
                                    <option value="{{ weekday.weekday_name }}" selected>{{ weekday.weekday_name }}</option>
                                {% else %}
                                    <option value="{{ weekday.weekday_name }}">{{ weekday.weekday_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div id="monthdaylabel">
                        <label for="match_monthday">Date:</label>
                    </div>
                    <div id="monthday" class="custom-select">
                        <select id="match_monthday" name="match_monthday" required>
                            <option value="" disabled>Choose date</option>
                            {% for monthday in monthdays %}
                                {% if monthday.monthday_name == match.match_monthday %}
                                    <option value="{{ monthday.monthday_name }}" selected>{{ monthday.monthday_name }}</option>
                                {% else %}
                                    <option value="{{ monthday.monthday_name }}">{{ monthday.monthday_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div id="monthlabel">
                        <label for="match_month">Month:</label>
                    </div>
                    <div id="month" class="custom-select">
                        <select id="match_month" name="match_month" required>
                            <option value="" disabled>Choose month</option>
                            {% for month in months %}
                                {% if month.month_name == match.match_month %}
                                    <option value="{{ month.month_name }}" selected>{{ month.month_name }}</option>
                                {% else %}
                                    <option value="{{ month.month_name }}">{{ month.month_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div id="venuelabel">
                        <label for="match_venue">Venue:</label><br>
                    </div>
                    <div id="venue" class="custom-select">
                        <select id="match_venue" name="match_venue" required>
                            <option value="" disabled>Choose venue</option>
                            {% for venue in venues %}
                                {% if venue.venue_name == match.match_venue %}
                                    <option value="{{ venue.venue_name }}" selected>{{ venue.venue_name }}</option>
                                {% else %}
                                    <option value="{{ venue.venue_name }}">{{ venue.venue_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div id="buttons">
                        <a href="{{ url_for('matches') }}">Cancel</a>
                        <input type="submit" value="Update">
                    </div>
                </form>
            </div>
        </div>   
    </details>

    <script src="{{ url_for('static', filename='scripts/select.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/sheet.js') }}"></script>

{% endblock %}