{% extends "base.html" %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/board.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/paper.css') }}" type="text/css">

    <div class="add">
        <p>Log in below to add or edit matches</p>
    </div>

    {% for match in matches %}
        <details>
            <summary>{{ match.match_season }} Match {{ match.match_number }}</summary>
            <div id="board">
                <div class="sheet" id="mapsheet{{ match.match_season }}{{ match.match_number }}">
                    <h2>{{ match.match_weekday }} {{ match.match_monthday }} {{ match.match_month }}</h2>
                    <div>
                        <h2>{{ match.match_venue }}</h2>
                        <p>{{ match.venue_address }} {{ match.venue_postcode }}</p>
                    </div>
                    <div class="map" id="{{ match.match_season }}{{ match.match_number }}"></div>
                    <p id="lat{{ match.match_season }}{{ match.match_number }}">{{ match.venue_latitude }}</p>
                    <p id="lng{{ match.match_season }}{{ match.match_number }}">{{ match.venue_longitude }}</p>
                </div>
            </div>   
        </details>
    {% endfor %}

    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDOVg-dREo0Ck1QqKT0fQyRQGP_hCp1l8&callback=initMap&libraries=&v=weekly"></script>
    <script src="{{ url_for('static', filename='scripts/maps.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/postit.js') }}"></script>

{% endblock %}