{% extends "welcome.html" %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/noanimation.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/longjump.css') }}" type="text/css">

    <section>
        <div id="title">
            <p>{{ username }}'s Profile</p>
        </div>
        <div id="longjump">
            <div>
                <label for="username">Username</label>
                <p>{{ username }}</p>
            </div>
            <div>
                <label for="club">Club</label>
                <p>{{ club }}</p>
            </div>
        </div>
        <div id="roles">
            <div id="left">
                <label for="roles">Roles</label>
            </div>
            <div id="right">
                {% if is_athlete == "is_athlete" %}
                    <label>Athlete</label>
                {% endif %}
                {% if is_coach == "is_coach" %}
                    <label>Coach</label>
                {% endif %}
                {% if is_manager == "is_manager" %}
                    <label>Manager</label>
                {% endif %}
                {% if is_official == "is_official" %}
                    <label>Official</label>
                {% endif %}
                {% if is_administrator == "is_administrator" %}
                    <label>Administrator</label>
                {% endif %}
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='scripts/numbers.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/clubs.js') }}"></script>

{% endblock %}