<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/grass.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/track.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/concrete.css') }}" type="text/css">
    <title>Welcome to the Vets League!</title>
</head>

<body>
    <header>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 142.87">
            <a href="http://www.scvac.org.uk/" target="_blank">
                <g class="colour">
                    <g id="background">
                        <path d="M70.54,74.5 l7.7,8 c2.16,2,2.51,4,.56,6.29 l-10.09,14 c-3,4.09-6.34,7.74-10.77,10.14 a79.81,79.81,0,0,1-14.08,5.45 c-6.81,2.15-13.31,5.5-20,8.1 a3.15,3.15,0,0,1-2.35.26 c-2.64-2.21-4.92-5.42-4.65-9.06.35-3.86,3.63-6.22,6-8.93,2.83-3,5.69-6.11,7.67-9.76,2.68-5,3.8-10.76,6.64-15.64 C35.82,74.03,33.98,66.83,30.13,58.65 a42.62,42.62,0,0,0,13.74,83 c36.74.15,56.17-44.18,31.74-71.06 C74.37,71.52,70.98,74.14,70.54,74.5Z"/>
                    </g>
                    <g id="foreground">
                        <path d="M94.26,46.3 c4.27-4.13.68-8.52-3.16-7,4.83-4.16,2.51-11-1.46-10.26,2.38-4,1.68-7.79-.67-9.57,0,0,8.71-11.34-.43-17.55-4.53,13.6-17.09,20.08-28,25.91-5.72,3.19-9.93,9.17-9.17,15.92.76,9.21.76,6,.76,10.89 a46.59,46.59,0,0,0-23.11,1.68 c4.64,9.18,6.66,16.77,8.18,26.93-2.84,4.88-4,10.68-6.64,15.64-2,3.65-4.84,6.73-7.67,9.76-2.37,2.71-5.65,5.07-6,8.93-.27,3.69,2,6.81,4.65,9.06 a3.15,3.15,0,0,0,2.35-.26 c6.65-2.6,13.15-5.95,20-8.1,10.17-3,18.75-6.36,24.85-15.59 l10.09-14 c1.93-2.34,1.62-4.27-.56-6.29 l-7.7-8 c.44-.36,16.24-12.73,23.22-17.22 C102.13,51.89,98.31,45.22,94.26,46.3Z"/>
                    </g>
                </g>
                <g class="draw">
                    <g id="sock">
                        <path d="M88.51,1.96 c-4.53,13.6-17.09,20.08-28,25.91-5.72,3.19-9.93,9.17-9.17,15.92.76,9.21.76,6,.76,10.89 a46.59,46.59,0,0,0-23.11,1.68 c4.64,9.18,6.66,16.77,8.18,26.92"/>
                    </g>
                    <g id="first-feather">
                        <path d="M87.76,3.97 s.75-2,.75-2 c9.13,6.21.43,17.55.43,17.55 A21.58,21.58,0,0,1,84.26,24.03 a134.45,134.45,0,0,1-11.19,7.77 c-3.82,2.29-8,4.39-9.72,8.5-1.4,3.37-1.22,7.16-1,10.81.91,11.59-.67,23.66,4.73,34.35 a5.88,5.88,0,1,1-9.42-1.62 c.9-1.1,2.94-4,0-6.31-2.55,2.37-4.82,4.45-8.19,5.42-4.07,1-8,.33-12.09.29"/>
                    </g>
                    <g id="second-feather">
                        <path d="M88.94,19.51 c2.35,1.78,3,5.53.67,9.57-1.68,2.76-4.39,4.67-7.07,6.49 L69.86,44.18 c-3.38,2.24-7.39,5.32-7.4,9.74"/>
                    </g>
                    <g id="third-feather">
                        <path d="M89.61,29.08 c4-.77,6.29,6.1,1.46,10.26 c-6.67,5.61-14.07,10.37-21,15.64-2.86,2.09-7.43,4.77-7.28,8.67"/>
                    </g>
                    <g id="fourth-feather">
                        <path d="M91.07,39.34 c3.83-1.55,7.42,2.81,3.19,6.93 c-3.58,3.5-19.32,14.55-23,17.35-3.36,2.61-7.9,6.42-7.71,10.93"/>
                    </g>
                    <g id="fifth-feather">
                        <path d="M94.26,46.3 c4.08-1.08,7.9,5.59-.47,11-6.91,4.44-22.46,16.61-23.22,17.22 c-2.58,1.9-5.77,5.68-4.6,8.6"/>
                    </g>
                    <g id="shoe">
                        <path d="M37.17,83.36 C34.36,88.22,33.26,94.03,30.57,98.93 c-2,3.65-4.84,6.73-7.67,9.76-2.37,2.71-5.65,5.07-6,8.93-.27,3.69,2,6.81,4.65,9.06 a3.15,3.15,0,0,0,2.35-.26 c6.65-2.6,13.15-5.95,20-8.1,10.17-3,18.75-6.36,24.85-15.59 l10.09-14 c1.93-2.34,1.62-4.27-.56-6.29 l-7.69-8"/>
                    </g>
                    <g id="laces">
                        <path d="M75.85,85.16 c-2.8,3.8-4.66,7-7.46,10.84 a10.42,10.42,0,0,1-3.13,3.14,10,10,0,0,1-6.19,0,29,29,0,0,1-4.32-2.63 c-2.85-1.71-9.55-7.25-12.57-4.42-1.33,1.69.67,3.53,2.22,4.2 L51.26,100.03 c1.5.7,3.44,2.26,2.56,4.09-2.61,3.92-9.77-4.95-13.21-5.34-2.38-.41-3.81,1.89-2.2,3.76,2.35,2.11,5.54,3.16,8.23,4.8,1.27.68,2.73,1.68,2.62,3.11 a2.4,2.4,0,0,1-2.11,2 c-4.27.22-6.06-5-9.82-6.15-3.81-1.31-6.36,2.34-4.38,5.7 a12.39,12.39,0,0,0,3.89,3.66"/>
                    </g>
                    <g id="circle">
                        <path d="M30.13,58.65 a42.62,42.62,0,0,0,13.74,83 c36.74.15,56.17-44.18,31.72-71"/>
                    </g>
                </g>
            </a>
        </svg>
        <div id="welcome">
            <h1>
                <span id="w1">W</span><span id="e1">e</span><span id="l1">l</span><span id="c1">c</span><span id="o1">o</span><span id="m1">m</span><span id="e2">e </span>
                <span id="t1">t</span><span id="o2">o </span><span id="t2">t</span><span id="h1">h</span><span id="e3">e</span><br>
                <span id="v1">V</span><span id="e4">e</span><span id="t3">t</span><span id="s1">s </span>
                <span id="l2">L</span><span id="e5">e</span><span id="a1">a</span><span id="g1">g</span><span id="u1">u</span><span id="e6">e </span>
                <span id="w2">w</span><span id="e7">e</span><span id="b1">b</span><span id="s2">s</span><span id="i1">i</span><span id="t4">t</span><span id="e8">e</span><span id="x1">!</span>
            </h1>
            <h2>The SCVAC Western Division features four matches each year between the following athletic clubs:</h2>
        </div>
    </header>
    <section id="track">
        <ul>
            {% for club in clubs %}
                <li>
                    <a href="{{ club.club_website }}" target="_blank">{{ club.club_name }}</a>
                    <span>
                        <span class="astring">{{ club.club_number }}</span>
                        <span class="bstring">{{ club.club_number }}{{ club.club_number }}</span>
                        <span class="fifty">{{ club.club_number }}50</span>
                        <span class="sixty">{{ club.club_number }}60</span>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </section>
    <nav>
        <ul>
            <li><a href="{{ url_for('matches_display') }}">Matches</a></li>
            <li><a href="#">Declarations</a></li>
            <li><a href="https://www.thepowerof10.info/results/resultslookup.aspx?datefrom=1-Jan-2000&dateto=31-Dec-2030&terraintypecodes=TIDEX&title=Southern+Counties+Veterans%27+League+Western+Division" target="_blank">Results</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='scripts/numbers.js') }}"></script>
    {% block scripts %}
    {% endblock %}
    
</body>

</html>