@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

details, .add {
    float: left;
    width: 88vw;
    margin: 0 6vw 2vw 6vw;
    box-shadow: 1vw 1vw 1vw 1vw rgba(35,35,35,0.6);
}

@media only screen and (min-width: 600px) {
    details, .add {
        width: 58vw;
        margin: 0 4vw 2vw 0;
    }
}

@media only screen and (min-width: 900px) {
    details, .add {
        width: 61vw;
    }
}

@media only screen and (min-width: 1200px) {
    details, .add {
        width: 64vw;
    }
}

details summary, .add {
    height: 10vw;
    background-image: url(/static/images/boardheader.jpg);
    background-size: 88vw 10vw;
    font-family: 'Roboto Slab', serif;
    font-size: 5vw;
    line-height: 10vw;
    text-align: center;
    color: rgba(235,235,235,0.2);
    text-shadow: rgba(205,155,105,0.8) -0.1vw 0, rgba(205,155,105,0.6) 0 -0.1vw, rgba(235,235,235,0.8) 0 0.1vw, rgba(205,155,105,0.6) -0.1vw -0.1vw;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    details summary, .add {
        height: 8vw;
        background-size: 58vw 8vw;
        font-size: 4vw;
        line-height: 8vw;
    }
}

@media only screen and (min-width: 900px) {
    details summary, .add {
        height: 7vw;
        background-size: 61vw 7vw;
        font-size: 3.5vw;
        line-height: 7vw;
    }
}

@media only screen and (min-width: 1200px) {
    details summary, .add {
        height: 6vw;
        background-size: 64vw 6vw;
        font-size: 3vw;
        line-height: 6vw;
    }
}

.add a {
    text-decoration: none;
    color: rgba(235,235,235,0.2);
    text-shadow: rgba(205,155,105,0.8) -0.1vw 0, rgba(205,155,105,0.6) 0 -0.1vw, rgba(235,235,235,0.8) 0 0.1vw, rgba(205,155,105,0.6) -0.1vw -0.1vw;
}

details summary:hover, .add a:hover {
    color: rgba(235,235,235,0.2);
    text-shadow: rgba(35,35,35,0.4) -0.1vw 0, rgba(35,35,35,0.2) 0 -0.1vw, rgba(235,235,235,0.4) 0 0.1vw, rgba(35,35,35,0.2) -0.1vw -0.1vw;
}

details #board {
    border: 8vw solid transparent;
    border-image: url(/static/images/boardborder.jpg);
    border-image-repeat: round;
    border-image-slice: 10% fill;
}

.delete {
    font-family: 'Roboto Slab', serif;
    font-size: 3vw;
    text-align: center;
    transform: translateY(8vw);
    color: rgba(235,235,235,0.2);
    text-shadow: rgba(205,155,105,0.8) -0.1vw 0, rgba(205,155,105,0.6) 0 -0.1vw, rgba(235,235,235,0.8) 0 0.1vw, rgba(205,155,105,0.6) -0.1vw -0.1vw;
}
