@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    height: 100%;
}

body {
    background-image:
        url(/static/images/bricks/abC.jpg),
        url(/static/images/bricks/bdE.jpg),
        url(/static/images/bricks/dcF.jpg),
        url(/static/images/bricks/caE.jpg),
        url(/static/images/bricks/abF.jpg),
        url(/static/images/bricks/bdC.jpg),
        url(/static/images/bricks/daF.jpg),
        url(/static/images/bricks/acB.jpg),
        url(/static/images/bricks/cfD.jpg),
        url(/static/images/bricks/faE.jpg);
    background-size: 63.5vw 46vw;
}

@media only screen and (min-width: 600px) {
    body {
        background-size: 47.5vw 34.5vw;
    }
}

@media only screen and (min-width: 900px) {
    body {
        background-size: 27.5vw 20vw;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-size: 20vw 14.5vw;
    }
}

.container {
    position: absolute;
    left: 0;
    top: 101vw;
    width: 100vw;
}

@media only screen and (min-width: 600px) {
    .container {
        left: 38vw;
        top: 4vw;
        width: 62vw;
    }
}

@media only screen and (min-width: 900px) {
    .container {
        left: 35vw;
        width: 65vw;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        left: 32vw;
        width: 68vw;
    }
}

#flash h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 5vw;
    line-height: 10vw;
    text-decoration: none;
    text-align: center;
    color: rgba(235,235,235,0.2);
    text-shadow: rgba(35,35,35,0.6) -0.1vw 0, rgba(35,35,35,0.4) 0 -0.1vw, rgba(235,235,235,0.6) 0 0.1vw, rgba(35,35,35,0.4) -0.1vw -0.1vw;
}

@media only screen and (min-width: 600px) {
    #flash h2 {
        font-size: 4vw;
        line-height: 8vw;
    }
}

@media only screen and (min-width: 900px) {
    details summary, .add {
        font-size: 3.5vw;
        line-height: 7vw;
    }
}

@media only screen and (min-width: 1200px) {
    details summary, .add {
        font-size: 3vw;
        line-height: 6vw;
    }
}