* {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    width: 100vw;
    height: 100vw;
}

.body {
    background-image: 
        url('../static/images/bricks/abC.jpg'),
        url('../static/images/bricks/bdE.jpg'),
        url('../static/images/bricks/dcF.jpg'),
        url('../static/images/bricks/caE.jpg'),
        url('../static/images/bricks/abF.jpg'),
        url('../static/images/bricks/bdC.jpg'),
        url('../static/images/bricks/daF.jpg'),
        url('../static/images/bricks/acB.jpg'),
        url('../static/images/bricks/cfD.jpg'),
        url('../static/images/bricks/faE.jpg');
    background-size: cover;
}
