@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

/* Concrete background image */
body {
    background-image: url(/static/images/concrete.jpg);
    background-size: 50vw 25vw;
}

@media only screen and (min-width: 600px) {
    body {
        background-size: 35vw 17.5vw;
    }
}

@media only screen and (min-width: 900px) {
    body {
        background-size: 25vw 12.5vw;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-size: 20vw 10vw;
    }
}

/* Navigation text */
nav ul {
    width: 90vw;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    font-size: 4vw;
    line-height: 4vw;
    text-align: center;
    padding: 3vw;
}

@media only screen and (min-width: 600px) {
    nav ul {
        font-size: 3vw;
        line-height: 3vw;
    }
}

nav ul li {
    display: inline-block;
    padding: 1vw 3vw;
}

@media only screen and (min-width: 600px) {
    nav ul li {
        display: inline-block;
        padding: 1vw 2vw;
    }
}

nav ul li a {
    text-decoration: none;
    color: rgba(235,235,235,0.2);
    text-shadow: rgba(35,35,35,0.6) -0.1vw 0, rgba(35,35,35,0.4) 0 -0.1vw, rgba(235,235,235,0.6) 0 0.1vw, rgba(35,35,35,0.4) -0.1vw -0.1vw;
}

nav ul li a:hover {
    color: rgba(235,235,235,0.4);
    text-shadow: rgba(35,35,35,0.6) -0.1vw 0, rgba(35,35,35,0.4) 0 -0.1vw, rgba(235,235,235,0.6) 0 0.1vw, rgba(35,35,35,0.4) -0.1vw -0.1vw;
}

