@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    height: 100%;
}

/* Concrete background image */
nav {
    background-image: url(/static/images/concrete.jpg);
    background-size: 50vw 25vw;
    height: 25vw;
    z-index: 10;
}

@media only screen and (min-width: 600px) {
    nav {
        background-size: 35vw 17.5vw;
    }
}

@media only screen and (min-width: 900px) {
    nav {
        background-size: 25vw 12.5vw;
    }
}

@media only screen and (min-width: 1200px) {
    nav {
        background-size: 20vw 10vw;
    }
}

/* Navigation text */
nav ul {
    width: 90vw;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    font-size: 4.5vw;
    line-height: 4.5vw;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 3.5vw 3.5vw 0 3.5vw;
}

nav ul li a {
    text-decoration: none;
    color: rgba(235,235,235,0.2);
    text-shadow: rgba(35,35,35,0.6) -0.1vw 0, rgba(35,35,35,0.4) 0 -0.1vw, rgba(235,235,235,0.6) 0 0.1vw, rgba(35,35,35,0.4) -0.1vw -0.1vw;
}

nav ul li a:hover {
    color: rgba(235,235,235,0.4);
    text-shadow: rgba(35,35,35,0.6) -0.1vw 0, rgba(35,35,35,0.4) 0 -0.1vw, rgba(235,235,235,0.6) 0 0.1vw, rgba(35,35,35,0.4) -0.1vw -0.1vw;
}
