@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Permanent+Marker&family=Special+Elite&display=swap');

.sheet {
    box-sizing: border-box;
    width: 72vw;
    padding: 6vw;
    color: rgba(35,35,35,0.8);
    background-color: rgb(245,245,245);
    font-family: 'Special Elite', cursive;
    margin-top: -4vw;
    box-shadow: 1vw 1vw 1vw rgba(35,35,35,0.8);
}

@media only screen and (min-width: 600px) {
    .sheet {
        width: 42vw;
        padding: 4vw;
    }
}

@media only screen and (min-width: 900px) {
    .sheet {
        width: 45vw;
    }
}

@media only screen and (min-width: 1200px) {
    .sheet {
        width: 48vw;
    }
}

.map {
    height: 60vw;
    margin-top: 2vw;
}

@media only screen and (min-width: 600px) {
    .map {
        height: 34vw;
    }
}

@media only screen and (min-width: 900px) {
    .map {
        height: 37vw;
    }
}

@media only screen and (min-width: 1200px) {
    .map {
        height: 40vw;
    }
}

.sheet > p {
    display: none;
}

.postit {
    position: absolute;
    left: 20%;
    bottom: 20%;
    padding: 2vw;
    background-color: rgb(250,235,140);
    font-family: 'Permanent Marker', cursive;
    box-shadow: 0 1vw 0.5vw 0 rgba(35,35,35,0.6);
}

.postit a {
    text-decoration: none;
}

.edit h3 a {
    color: rgba(35,35,35,0.8);
    text-decoration: none;
}

#add_match, #edit_match {
    height: 60vw;
}

@media only screen and (min-width: 600px) {
    #add_match, #edit_match {
        height: 75vw;
    }
}

@media only screen and (min-width: 900px) {
    #add_match, #edit_match {
        height: 69vw;
    }
}

#add_timetable, #edit_timetable {
    height: 73vw;
}

@media only screen and (min-width: 600px) {
    #add_timetable, #edit_timetable {
        height: 95vw;
    }
}

@media only screen and (min-width: 900px) {
    #add_timetable, #edit_timetable {
        height: 82vw;
    }
}

form > div {
    float: left;
    margin-bottom: 2vw;
}

form section > div {
    float: left;
    margin-bottom: 2vw;
}

label {
    font-family: 'Special Elite', cursive;
    font-size: 2.5vw;
    line-height: 6vw;
}

#seasonlabel, #season, #numberlabel, #number, #weekdaylabel, #weekday, #monthdaylabel, #monthday, #monthlabel, #month, .timelabel, .time, .hour, .minute {
    height: 6vw;
}

#venuelabel, #venue, .pagelabel {
    height: 8vw;
}

@media only screen and (min-width: 600px) {
    #numberlabel, #number {
        height: 12vw;
    }
}

#seasonlabel, #numberlabel, #weekdaylabel, #monthdaylabel, #monthlabel, #venuelabel, .timelabel, .eventlabel {
    width: 40%;
}

@media only screen and (min-width: 600px) {
    #numberlabel {
        width: 60%;
    }
    .timelabel, .eventlabel {
        width: 50%;
    }
}

#season, #number, #weekday, #monthday, #month, #venue, .time, .event {
    width: 60%;
}

@media only screen and (min-width: 600px) {
    #number {
        width: 40%;
    }
    .time, .event {
        width: 50%;
    }
}

.hour, .minute {
    width: 50%;
    float: left;
}


.categorieslabel, .categories, .pagelabel {
    width: 100%;
}

.categorieslabel {
    height: 4vw;
}

.pagelabel label {
    font-size: 3vw;
    line-height: 3vw;
}

.custom-select {
    position: relative;
    float: right;
    font-family: 'Just Another Hand', cursive;
    font-size: 4vw;
    line-height: 6vw;
    color: rgba(35,35,35,0.8);
    width: 100%;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: rgb(255,255,255);
    border: 0.1vw solid rgba(185,185,185,0.8);
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 2.5vw;
    right: 2vw;
    width: 0;
    height: 0;
    border: 1vw solid transparent;
    border-color: rgba(35,35,35,0.8) transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent rgba(35,35,35,0.8) transparent;
    top: 1.5vw;
}

.select-items div, .select-selected {
    color: rgba(35,35,35,0.8);
    padding: 0 2vw;
    border: 0.1vw solid rgba(185,185,185,0.8);
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: rgb(245,245,245);
    border: 0.1vw solid rgba(185,185,185,0.8);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(185,185,185,0.8);
}

.radio {
    width: 25%;
    float: left;
}

@media only screen and (min-width: 600px) {
    .radio {
        width: 50%;
    }
}

.radiolabel {
    display: block;
    position: relative;
    font-family: 'Just Another Hand', cursive;
    font-size: 4vw;
    line-height: 6vw;
    color: rgba(35,35,35,0.8);
    cursor: pointer;
}

.radiolabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 1vw;
    left: 0;
    width: 3vw;
    height: 3vw;
    background-color: rgb(255,255,255);
    border: 0.1vw solid rgba(185,185,185,0.8);
    border-radius: 50%;
}

.squarecheckmark {
    position: absolute;
    top: 1vw;
    left: 0;
    width: 3vw;
    height: 3vw;
    background-color: rgb(255,255,255);
    border: 0.1vw solid rgba(185,185,185,0.8);
}

.radiolabel:hover input ~ .checkmark {
    background-color: rgba(185,185,185,0.8);
}

.radiolabel:hover input ~ .squarecheckmark {
    background-color: rgba(185,185,185,0.8);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.squarecheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radiolabel input:checked ~ .checkmark:after {
    display: block;
}

.radiolabel input:checked ~ .squarecheckmark:after {
    display: block;
}

.radiolabel .checkmark:after {
    top: 1vw;
    left: 1vw;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: rgba(35,35,35,0.8);
}

.radiolabel .squarecheckmark:after {
    top: 1vw;
    left: 1vw;
    width: 1vw;
    height: 1vw;
    background-color: rgba(35,35,35,0.8);
}

.checkbox {
    width: 25%;
    float: left;
}

@media only screen and (min-width: 600px) {
    .checkbox {
        width: 50%;
    }
}

@media only screen and (min-width: 900px) {
    .checkbox {
        width: 33.3%;
    }
}

.categories {
        margin-bottom: 0vw;
    }

@media only screen and (min-width: 600px) {
    .categories {
        margin-bottom: -10vw;
    }
}

@media only screen and (min-width: 900px) {
    .categories {
        margin-bottom: -4vw;
    }
}


/* Style buttons */
#buttons {
    width: 100%;
    text-align: center;
}

#buttons div {
    display: inline-block;
}

#buttons input, #buttons a {
    background-color: rgb(255,255,255);
    border: 0.1vw solid rgba(185,185,185,0.8);
    font-family: 'Special Elite', cursive;
    font-size: 2.5vw;
    line-height: 6vw;
    margin: 4vw 2vw;
    padding: 0 2vw;
    box-sizing: border-box;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    #buttons input, #buttons a {
        margin: 12vw 2vw 4vw 2vw;
    }
}

@media only screen and (min-width: 900px) {
    #buttons input, #buttons a {
        margin: 6vw 2vw 4vw 2vw;
    }
}

#buttons input:hover, #buttons a:hover {
    background-color: rgba(185,185,185,0.8);
}

#buttons a {
    text-decoration: none;
    padding: 1.75vw 2vw;
}

#buttons div input, #buttons div a {
    margin: 2vw 1vw 0 1vw;
}

#progress {
    margin-top: 6vw;
}

@media only screen and (min-width: 600px) {
    #progress {
        margin-top: 12vw;
    }
}

@media only screen and (min-width: 900px) {
    #progress {
        margin-top: 6vw;
    }
}


/* Hide all steps by default: */
.tab {
    display: none;
}

